h1 {
    color:#FF0000;
}


/* * {
    border: solid;
} */

.header{
    background-color: #000;
    display: flex;
    flex-wrap:flex;
    justify-content: space-evenly;
}


.footer{
    display:flex;
    justify-content: initial  ;
}

.dog{
    display: flex;
    justify-content: initial;
}

.best{
    display: flex;
    justify-content: initial;
}